language:
  - scala

scala:
  - 2.11.8

jdk:
  - oraclejdk8

notifications:
  email: false

branches:
  only:
    - master
    - develop

script:
  - ls -l ./ci-scripts
  - sbt clean coverage test

after_success:
  - sbt coverageReport coveralls
  - chmod a+x ci-scripts  # make sure that travis-ci has correct permissions!
  - ./ci-scripts/publish_api_docs.sh
