language:
  - scala

scala:
  - 2.11.8

jdk:
  - oraclejdk8

notifications:
  email: false

branches:
  only:
    - master
    - develop

script:
  - sbt clean coverage test

after_success:
  - sbt coverageReport coveralls
  - ./.travis/publish_api_docs.sh
